.App {
  text-align: center;
  animation: fadeIn 2s ease-in-out;
}

h1,
h2 {
  font-size: 15rem;
}

.planting-img{
  position: absolute;
  width: 500px;
  bottom: 0;
  right: 0;
}

.beep {
  font-size: 2rem;
  margin-right: .5%;
  position: absolute;
  bottom: 0;
  right: 0;
}

.world-img{
  position: absolute;
  width: 500px;
  top: 5%;
  right: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
