@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: Heavy Man, Kula, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color:#f6e6d9;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Kula';
  src: url("/public/TAYKula.otf")format("opentype");
}

@font-face {
  font-family: "Heavy Man";
  src: url("/public/TAYHeavyMan.otf")format("opentype");
}





